{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="shortcut icon" href="#">
    <title>
      {% block title %}
        O nas
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="banner">
        <h1>Kim jesteśmy?</h1>
    </div>
    <section class="o-nas-tekst-section">
        <div class="o-nas-tekst-container">
            <div class="title">
            <h1 class="o-nas-tytul" style="font-weight: 300;">CAFE</h1><h1 class="o-nas-tytul">NEGRAR</h1>
            </div>
            <div class="text">
                <p>Witamy w Kawiarni Negrar – lokalnej marecę z Wrocławia, położonej w samym sercu wrocławskiego rynku. Jesteśmy dumni z naszej reputacji jako miejsca, które oferuje wyśmienitą włoską kawę oraz przyjazną atmosferę. Nasza kawiarnia to nie tylko idealne miejsce na delektowanie się aromatycznymi napojami, ale również przestrzeń sprzyjająca efektywnej pracy zdalnej w spokoju i ciszy.</p>
                <p>W Negrar zdajemy sobie sprawę, jak ważne jest stworzenie miejsca, w którym można jednocześnie delektować się wyjątkową kawą i skupić na zadaniach. Dlatego też oferujemy innowacyjne rozwiązania coworkingowe oraz wirtualne biuro, umożliwiając naszym gościom pracę w komfortowych warunkach.</p>
                <p>Nasi bariści, z pasją i dbałością o najdrobniejsze szczegóły, serwują najwyższej jakości włoskie napoje, które podkreślają unikalny charakter naszej kawiarni. W Negrar stawiamy na jakość, elegancję i atmosferę sprzyjającą twórczej pracy.</p>
                <p>Niech Kawiarnia Negrar stanie się Twoim ulubionym miejscem, gdzie możesz cieszyć się nie tylko doskonałą kawą, ale także skorzystać z wyjątkowych usług coworkingowych i wirtualnego biura. Zapraszamy do odkrywania smaków i korzystania z inspirującej przestrzeni, którą stworzyliśmy z myślą o Twoim komforcie i efektywności pracy.</p>
                <img class="beans" src="{% static "img/beans.png" %}" alt="">
            </div>
        </div>
        
    </section>
    {% include "footer.html" %}
  </body>