{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <title>
      {% block title %}
        Strona Główna
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    {% include "navbar.html" %}
      <section class="section">
        <div class="hero-containter"> 
          <div class="hero-text-container">
            <h1 class="cafe-text">CAFE</h1>
            <h1 class="negrar-text">NEGRAR</h1>
            <div class="hero-button"><a href="login"><h2>Dołącz do nas!</h2></a></div>
            <div class="social-buttons">
              <div class="social-button"><a href="https://www.facebook.com/profile.php?id=61553845236738"><img class="social-button-img" src= {% static "/img/fb.svg" %}></a></div>
              <div class="social-button"><a href="/"><img class="social-button-img" src= {% static "/img/ig.svg" %}></a></div>
            </div>
          </div>
          <div class="hero-image-container">
            <img class="kawa" src= {% static "/img/kawa-hero.png" %} >
          </div>
        </div>
      </section>

      <section class="section-kawa-miesiaca"> 
        <div class="kawa-miesiaca-container">
          <div class="kawa-miesiaca-tytul">
            <h1 class="kawa-miesiaca-tytul-tekst-1">Kawa</h1>
            <h1 class="kawa-miesiaca-tytul-tekst-2">Miesiąca</h1>
          </div>
          <div class="kawa-miesiaca-opis-container">
            <div class="kawa-miesiaca-img">
              <img class="kawa-miesiaca-img-zdj"  src={% static "/img/kawa-miesiaca.png" %}>
            </div>
            <div class="kawa-miesiaca-tekst">
              <h1 class="kawa-miesiaca-h1-1">Iced Carmel</h1>
              <h1 class="kawa-miesiaca-h1-2">Macchiato</h1>
              <p class="kawa-miesiaca-p">To harmonijne połączenie intensywnego espresso, kremowego mleka i delikatnego karmelu, wszystko schłodzone do perfekcji. Odkryj świeżość i przyjemność w każdym łyku.</p>
              <div class="kawa-miesiaca-przycisk"><a href="menu"><h2>Sprawdź</h2></a></div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-uslugi"> 
        <div class="usluga-rezerwacja-container">
          <div class="rezerwacja-tekst-tytul">
            <h1 class="system-tekst">System</h1>
            <h1 class="rezerwacji-tekst">Rezerwacji</h1>
          </div>
          <div class="usluga-rezerwacja-opis">
            <div class="rezerwacja-zdjecie-container">
              <img class="rezerwacja-zdjecie"  src={% static "/img/rezerwacje.jpg" %}>
            </div>
            <p class="usluga-rezerwacja-opis-tekst">
              Zarezerwuj wcześniej swój stolik do spotkań albo jako miejsce pracy przy pomocy naszego innowacyjnego systemu rezerwacji.
            </p>
          </div>
          <div class="przycisk-uslugi-rezerwacja"><a href="rezerwacja"><h2>Rezerwacja</h2></a></div>
        </div>

        <div class="usluga-zamawiania-container">
          <div class="przycisk-uslugi-zamawiania"><a href="menu"><h2>Menu</h2></a></div>
          <div class="usluga-zamawiania-opis">
            <p class="usluga-zamawiania-opis-tekst">
              Zamów ulubione pozycje z menu i odbierz gotowe zamówienie przy kasie naszego lokalu bez potrzeby tracenia  cennego czasu.
            </p>
            <div class="zamawiania-zdjecie-container">
              <img class="zamawiania-zdjecie"  src={% static "/img/zamawianie.jpg" %}>
            </div>
          </div>
          <div class="zamawiania-tekst-tytul">
            <h1 class="system-zamawiania-tekst">System</h1>
            <h1 class="zamawiania-tekst">Zamawiania</h1>
          </div>
        </div>
      </section>

      <section class="galeria-section">
        <div class="gallery-container">
          <div class="carousel">
            <div class="slides">
                <div class="slide"><img src={% static "img/galeria1.jpg" %} alt="Image 1"></div>
                <div class="slide"><img src={% static "img/galeria2.jpg" %} alt="Image 2"></div>
                <div class="slide"><img src={% static "img/galeria3.jpg" %} alt="Image 3"></div>
                <!-- Add more slides as needed -->
            </div>
            <div class="carousel-btn prev-btn" onclick="prevSlide()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
              </svg>
          </div>
          <div class="carousel-btn next-btn" onclick="nextSlide()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/>
              </svg>
          </div>
        </div>
        <div class="gallery-title-container">
          <h1 class="gallery-title-text">Najlepsze zdjęcia tego miesiąca</h1>
        </div>
        <div class="gallery-opis-container">
          <div class="opis-border-container">
            <p class="opis-tekst">Zrób zdjęcie z naszej kawiarni, umieść je na swoich social mediach używając hashtagu #cafenegrar. Pod koniec każdego miesiąca wybieramy 3 autorów najlepszych zdjęć. <br> Do wygrania vouchery na zamówienia o wartości 50 zł.</p>
            <div class="social-button-gallery"><a href="/"><img class="social-button-img" src= {% static "/img/ig.svg" %} ></a></div>
          </div>
        </div> 
      </div>
      </section>

      <script>
        let currentIndex = 0;
    
        function showSlide(index) {
            const slides = document.querySelector('.slides');
            const slideWidth = document.querySelector('.slide').offsetWidth;
            slides.style.transform = `translateX(${-index * slideWidth}px)`;
            currentIndex = index;
        }
    
        function prevSlide() {
            currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            showSlide(currentIndex);
        }
    
        function nextSlide() {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        }
    
        const totalSlides = document.querySelectorAll('.slide').length;
    </script>

      <section class="kontakt-section">
        <form class="kontakt-container" method="POST">
          {% csrf_token %}
          <div class="tytul-kontakt-container">
            <h1 class="tytul-kontakt-tekst">Kontakt</h1>
          </div> 
          <div class="card">
            <div class="row">     
              <div class="container-message">
                <div class="col">
                  <div class="form-group">
                    <label>Imię i nazwisko</label>
                    <input type="text" name="name" requied>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Adres e-mail</label>
                    <input type="email" name="email" requied>
                  </div>
                </div>    
                <div class="col">
                  <div class="form-group">
                    <label>Temat</label>
                    <input type="text" name="subject" requied>
                  </div>
                </div>
              </div>
              <div class="container-message-text">       
                <div class="col">
                  <div class="form-group">
                    <label>Message</label>
                    <textarea name="message" requied maxlength="260" rows="5" cols="10" style="height:330px;"></textarea>
                  </div>
                </div>
                <div class="col">
                  <input class="submit-button" type="submit" value="Wyślij">
                </div>
              </div>
            </div>
          </div>
        </form> 
      </section>
      {% include "footer.html" %}
  </body>
</html>