{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>
      {% block title %}
        Login
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="#">
</head>
  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="/" class="closeBTN"><i style="font-size:18px" class="fa">&#xf00d;</i></a>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="POST" action="">
                {% csrf_token %}
                <h1 class="title-text-cafe" style="width: 124px; font-weight: 300; height: 30px; color: #240000;">CAFE</h1>
                <h1 class="title-text-negrar" style="width: 124px; color: #240000;">NEGRAR</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf0d5;</i></a>
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf16d;</i></a>
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf09a;</i></a>
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf099;</i></a>
                </div>
                <span>lub</span>
                <input type="text" placeholder="Nazwa" name="username">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Hasło" name="password">
                <button type="submit" name="register_button" value="Register">Zarejestruj się</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="POST" action="">
                {% csrf_token %}
                <h1 class="title-text-cafe" style="width: 124px; font-weight: 300; height: 30px; color: #240000;">CAFE</h1>
                <h1 class="title-text-negrar" style="width: 124px; color: #240000;">NEGRAR</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf0d5;</i></a>
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf16d;</i></a>
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf09a;</i></a>
                    <a href="#" class="icon"><i class="fa" style="color: #240000;">&#xf099;</i></a>
                </div>
                <span>lub</span>
                <input type="text" placeholder="Nazwa" name="username">
                <input type="password" placeholder="Hasło" name="password">
                <a href="">Nie pamiętasz hasła?</a>
                <button type="submit" name="login_button" value="Login">Zaloguj się</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1 class="tekst-zmiana">Masz już konto?</h1>
                    <button class="hidden" id="login">Zaloguj się</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1 class="tekst-zmiana">Nie masz konta?</h1>
                    <button class="hidden" id="register">Zarejestruj się</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'script/script.js' %}">

    </script>

  </body>

