{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}">
    <title>
      {% block title %}
        Profil
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="#">
</head>
  <body>
    <a href="/" class="closeBTN"><i style="font-size:28px" class="fa">&#xf00d;</i></a>
    <div class="card-container">
        <div class="links">
          <a class="orders link" href="javascript:void(0);" onclick="showTab('account-orders')">Zamówienia</a>
          <a class="reservation link" href="javascript:void(0);" onclick="showTab('account-reservation')">Rezerwacje</a>
          <a class="logout link" href="/logout">Wyloguj się</a>
        </div>
        
        <div id="account-orders" class="tab-content orders">
          <h1 class="name">Zamówienia</h1>
          <div class="zamowienia-container">
            {% for order, items in orders_with_items %}
            <div class="order">
              <div class="zamowienie">
                <p>Zamówienie nr: {{ order.id }}</p>
                <p style="margin-left: 20px;">Koszt: {{ order.cost }}zł</p>
                <p style="margin-left: 20px;">Data: {{ order.date }}</p>
                <button class="details-button" onclick="toggleOrderDetails({{ order.id }})">⮟</button>
              </div>
              <div id="order-details-{{ order.id }}" class="order-details" style="display: none;">
                {% for item in items %}
                <div class="order-item">
                  <img class="zdjecie-zamowienia" src="{% static item.coffee.image %}" alt="{{ item.coffee.name }}">
                  <p>{{ item.coffee.name }}</p>
                  <p>Ilość: {{ item.quantity }}</p>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        
        <div id="account-reservation" class="tab-content reservation">
          <h1 class="name">Rezerwacje</h1>
          <div class="rezerwacje-container">
              {% for reservation in user_reservations %}
              <div class="reservation">
                  <div class="reservation-info">
                      <p>Rezerwacja nr: {{ reservation.id }}</p>
                      <p style="margin-left: 20px;">Koszt: {{ reservation.reservation_cost }}zł</p>
                      <p style="margin-left: 20px;">Data: {{ reservation.selected_date }}</p>
                      <p style="margin-left: 20px;">Ilość godzin: {{ reservation.number_of_hours }}</p>
                      <!-- Dodaj dowolne dodatkowe informacje o rezerwacji -->
                  </div>
                  <!-- Dodaj kod do wyświetlenia szczegółów rezerwacji, podobnie jak dla zamówień -->
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
    <script>
      function showTab(tabId) {
        // Ukryj wszystkie zakładki
        var tabs = document.getElementsByClassName('tab-content');
        for (var i = 0; i < tabs.length; i++) {
          tabs[i].style.display = 'none';
        }
        // Pokaż wybraną zakładkę
        document.getElementById(tabId).style.display = 'flex';
      }
      // Wywołaj funkcję dla domyślnej zakładki
      window.onload = function() {
        showTab('account-orders');
      }

      function toggleOrderDetails(orderId) {
        var detailsDiv = document.getElementById('order-details-' + orderId);
        if (detailsDiv.style.display === 'none') {
            detailsDiv.style.display = 'flex';
        } else {
            detailsDiv.style.display = 'none';
        }
    }
    
    </script>
  </body>

