{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/rezerwacja.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <title>
      {% block title %}
        Rezerwacja
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="banner">
        <h1>Rezerwacja</h1>
    </div>
    <section class="o-nas-tekst-section">
      <div class="rezerwacja-container">
        {% csrf_token %}
        <div class="rezerwacja-window">
          <div class="rezerwacja-title">
            <h1>Zarezerwuj stolik</h1>
          </div>
            <div class="stoliki-okno">
              <div class="stoliki">
                  <div id="table-1" class="stolik-1 stolik-okragly stolik" onclick="selectTable(1)"></div>
                  <div id="table-2" class="stolik-2 stolik-okragly stolik" onclick="selectTable(2)"></div>
                  <div id="table-3" class="stolik-3 stolik-okragly stolik" onclick="selectTable(3)"></div>
                  <div id="table-4" class="stolik-4 stolik-okragly stolik" onclick="selectTable(4)"></div>
                  <div id="table-5" class="stolik-5 stolik-okragly stolik" onclick="selectTable(5)"></div>
                  <div id="table-6" class="stolik-6 stolik-okragly stolik" onclick="selectTable(6)"></div>
                  <div id="table-7" class="stolik-7 stolik" onclick="selectTable(7)"></div>
                  <div id="table-8" class="stolik-8 stolik" onclick="selectTable(8)"></div>
                  <div id="table-9" class="stolik-9 stolik" onclick="selectTable(9)"></div>
                  <div id="table-10" class="stolik-10 stolik" onclick="selectTable(10)"></div>
                  <div id="table-11" class="stolik-11 stolik" onclick="selectTable(11)"></div>
                  <div id="table-12" class="stolik-12 stolik" onclick="selectTable(12)"></div>
                  <div id="table-13" class="stolik-13 stolik-duzy stolik" onclick="selectTable(13)"></div>
              </div>
            </div>
            <div id="kalendarz" class="kalendarz">
              <input class="date-picker" type="date" id="date" name="date">
            </div>
            <div id="godziny" class="godziny">
              <button class="time-button" onclick="selectTime('09:00')">09:00</button>
              <button class="time-button" onclick="selectTime('10:00')">10:00</button>
              <button class="time-button" onclick="selectTime('11:00')">11:00</button>
              <button class="time-button" onclick="selectTime('12:00')">12:00</button>
              <button class="time-button" onclick="selectTime('13:00')">13:00</button>
              <button class="time-button" onclick="selectTime('14:00')">14:00</button>
              <button class="time-button" onclick="selectTime('15:00')">15:00</button>
              <button class="time-button" onclick="selectTime('16:00')">16:00</button>
              <button class="time-button" onclick="selectTime('17:00')">17:00</button>
              <button class="time-button" onclick="selectTime('18:00')">18:00</button>
              <button class="time-button" onclick="selectTime('19:00')">19:00</button>
              <button class="time-button" onclick="selectTime('20:00')">20:00</button>
              <button class="time-button" onclick="selectTime('21:00')">21:00</button>
            </div>
            <div class="podsumowanie">
              <div class="kwota-rezerwacji-container"><h2 class="kwota-rezerwacji">Koszt rezerwacji: 0 zł</h2></div>
              <button type="submit" style="cursor: pointer;" class="zarezerwujBTN" onclick="reserveTable()"><h2>Zarezerwuj</h2></button>
            </div>
        </div>
      </div>
  </section>
    {% include "footer.html" %}
    <script>
      var tables = [
        { id: 1, cost: 10 },
        { id: 2, cost: 10 },
        { id: 3, cost: 10 },
        { id: 4, cost: 10 },
        { id: 5, cost: 10 },
        { id: 6, cost: 10 },
        { id: 7, cost: 20 },
        { id: 8, cost: 20 },
        { id: 9, cost: 20 },
        { id: 10, cost: 20 },
        { id: 11, cost: 20 },
        { id: 12, cost: 20 },
        { id: 13, cost: 30 },
      ];
      function selectTable(tableId) {
        var table = tables.find(table => table.id === tableId);
        var tableElement = document.getElementById('table-' + tableId);
        if (tableElement.classList.contains('table-selected')) {
          tableElement.classList.remove('table-selected');
          updateReservationCost();
        } else {
          tableElement.classList.add('table-selected');
          updateReservationCost();
        }
      }
      function updateReservationCost() {
        var selectedTables = document.querySelectorAll('.table-selected');
        var numberOfTables = selectedTables.length;
        var numberOfHours = selectedTimes.length;
        var reservationCost = 0;
        selectedTables.forEach(function (tableElement) {
          var tableId = parseInt(tableElement.id.split('-')[1]);
          var table = tables.find(table => table.id === tableId);
          reservationCost += table.cost;
        });
        reservationCost *= numberOfHours;
        document.querySelector('.kwota-rezerwacji').textContent = 'Koszt rezerwacji: ' + reservationCost + ' zł';
      }
      var selectedTimes = [];
      function selectTime(time) {
        var timeButton = document.querySelector(`.time-button[onclick="selectTime('${time}')"]`);
        if (selectedTimes.includes(time)) {
          var index = selectedTimes.indexOf(time);
          selectedTimes.splice(index, 1);
          timeButton.classList.remove('selected');
        } else {
          selectedTimes.push(time);
          timeButton.classList.add('selected');
        }
        updateReservationCost();
      }
      function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
      function reserveTable() {
        var selectedTables = document.querySelectorAll('.table-selected');
        var selectedTableIds = Array.from(selectedTables).map(table => parseInt(table.id.split('-')[1]));
        var numberOfHours = selectedTimes.length;
        var selectedDate = document.getElementById('date').value;   
        if (selectedTableIds.length > 0 && numberOfHours > 0 && selectedDate) {
            var reservationCost = calculateReservationCost(selectedTableIds, numberOfHours);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'reserve_table/', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onerror = function () {
              console.error('Błąd podczas wysyłania żądania.');
          };
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = 'reserve_table/';
                } else {
                    console.error('Błąd podczas rezerwacji:', xhr.statusText);
                    alert('Wystąpił błąd podczas rezerwacji. Spróbuj ponownie.');
                }
            };
            xhr.send('selectedTableIds=' + encodeURIComponent(selectedTableIds.join(' ')) + '&numberOfHours=' + encodeURIComponent(numberOfHours) + '&selectedDate=' + encodeURIComponent(selectedDate) + '&reservationCost=' + encodeURIComponent(reservationCost) + '&csrfmiddlewaretoken=' + encodeURIComponent(getCookie('csrftoken')));
          } else {
            alert('Proszę wybrać stoliki, godziny i datę.');
        }
    }
    function calculateReservationCost(selectedTableIds, numberOfHours) {
        var reservationCost = 0;
        selectedTableIds.forEach(function (tableId) {
            var table = tables.find(table => table.id === tableId);
            reservationCost += table.cost;
        });
        reservationCost *= numberOfHours;
        return reservationCost;
    }
    </script>  
  </body>