body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: -1; /* Place the pseudo-element behind other content */
    filter: blur(60px);
  }

  body {
    background-color: #bead92;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none; 
  }

.banner{
    background-color: #240000;
    height: 100%;
    background: linear-gradient(180deg, #35200C, #240000);
    color: #fff;
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner::before {
    content: "";
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Adjust the opacity as needed */
    z-index: 1;
    background-image: url('../img/form.png');
  }

.banner h1 {
    font-size: 140px;
    z-index: 3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    position: absolute;
    @media (max-width: 1500px) {
        font-size: 120px;
      }
      @media (max-width: 960px) {
          font-size: 50px;
      }
}

.o-nas-tekst-section{
    display: flex;
    min-height: calc(100vh);
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.o-nas-tekst-container{
    width: 800px;
    height: 1000px;
    @media (max-width: 1500px) {
        
      }
      @media (max-width: 960px) {
          width: 90%;
          height: 100%;
      }
}

.o-nas-tytul{
    font-size: 64px;
    color: #240000;
    text-align: left;
    margin-bottom: 0;
    @media (max-width: 1500px) {
        font-size: 48px;
    }
    @media (max-width: 960px) {
        font-size: 32px;
    }
}

.title{
    display: flex;
    flex-direction: row;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text p{
    font-size: 24px;
    color: black;
    font-weight: 300;
    @media (max-width: 1500px) {
        font-size: 22px;
    }
    @media (max-width: 960px) {
        font-size: 18px;
    }
}

.beans{
    width: 200px;
    height: 200px;
    margin-left: 650px;
    margin-top: -130px;
    @media (max-width: 1500px) {
        
    }
    @media (max-width: 960px) {
        margin-left: -30px;
        margin-top: -60px;
    }
}