

.navbar {
    display: flex;
    width: 100%;
    height: 140px;
    position: relative;
    background-color: rgba(182, 172, 158, 0.05);
    align-items: center;
    justify-content: center;
    user-select: none;
    @media screen and (max-width: 960px) {
        height: 80px;
    }
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    @media screen and (max-width: 960px) {
        width: 80%;
    }
}

.konto-img{
    width: 30px;
    @media screen and (max-width: 960px) {
        width: 20px;
    }
}

.logo-wrapper .logo {
    font-size: 5rem;
    font-family: 'Rouge Script', cursive;
    color: #240000;
    text-decoration: none;
    @media screen and (max-width: 960px) {
        font-size: 2rem;
    }
}

.logo-wrapper .logo:hover{
    color: #240000;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    width: 28rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    @media screen and (max-width: 960px) {
        width: 60%;
    }
}

.navbar-links .navbar-link {
    text-decoration: none;
    color: #240000;
    @media screen and (max-width: 960px) {
        font-size: 0.6rem;
        margin-right: 10px;
    }
}

.navbar-links .navbar-link:hover {
    text-decoration: none;
    color: #240000;
}



