body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: -1; /* Place the pseudo-element behind other content */
    filter: blur(60px);
  }

  body {
    background-color: #bead92;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none; 
  }

.banner{
    background-color: #240000;
    height: 100%;
    background: linear-gradient(180deg, #35200C, #240000);
    color: #fff;
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner::before {
    content: "";
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Adjust the opacity as needed */
    z-index: 1;
    background-image: url('../img/form.png');
  }

.banner h1 {
    font-size: 140px;
    z-index: 3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    position: absolute;
    @media (max-width: 1500px) {
      font-size: 120px;
    }
    @media (max-width: 960px) {
        font-size: 60px;
    }
}

.rezerwacja-window {
    width: 650px;
    height: 800px;
    border: #240000 6px solid;
    border-radius: 50px;
    background-color: #d2d2d257;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    @media (max-width: 1500px) {
      height: 700px;
    }
    @media (max-width: 960px) {
      width: 300px;
      height: 560px;
    }
}

.rezerwacja-container{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rezerwacja-title{
    width: 100%;
    border-bottom: #240000 3px solid;
    text-align: center;
    font-size: 28px;
    color: #240000;
    @media (max-width: 1500px) {
      font-size: 18px;
    }
}

.stoliki-okno{
    width: 100%;
    border-bottom: #240000 3px solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 960px) {
      height: 200px;
    }
}

.podsumowanie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 20px 0px;
    @media (max-width: 960px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
}

.kwota-rezerwacji{
  @media (max-width: 960px) {
    margin: 10px 0;
  }
}

.kwota-rezerwacji-container{
    margin-left: 30px;
    color: #240000;
    font-size: 18px;
    @media (max-width: 1500px) {
      font-size: 14px;
    }
    @media (max-width: 960px) {
      font-size: 14px;
      margin-left: 0;
    }
}

.zarezerwujBTN-container{
    margin-right: 30px;
}

.zarezerwujBTN{
    width: 160px;
    height: 55px;
    border-radius: 25px;
    border: none;
    background-color: #240000;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-right: 30px;
    @media (max-width: 1500px) {
      font-size: 12px;
      width: 140px;
      height: 45px;
    }
    @media (max-width: 960px) {
      margin-right: 0;
    }
}

.stoliki{
    width: 550px;
    height: 350px;
    border-radius: 50px;
    background-image: url(../img/Stoliki.png);
    background-size: cover;
    margin-bottom: 15px;
    @media (max-width: 960px) {
      width: 250px;
      height: 170px;
      margin-bottom: 0;
    }
}

.godziny{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    height: 85px;
    width: 100%;
    border-bottom: #240000 3px solid;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: #240000 3px solid;
    white-space: nowrap;
    scrollbar-width: none;
}

.zarezerwujBTN-container{
  text-decoration: none;
}

.stolik {
    width: 45px; /* Dostosuj szerokość stolika według potrzeb */
    height: 70px; /* Dostosuj wysokość stolika według potrzeb */
    background-color: transparent; /* Kolor stolika */
    margin: 5px; /* Miejsce między stolikami */
    cursor: pointer;
    border-radius: 10px;
    border: #240000 3px solid;
    position: absolute;
    @media (max-width: 960px) {
        width: 20px;
        height: 30px;
    }
  }
  
  .table-selected {
    background-color: #240000; /* Kolor dla wybranego stolika */
  }
  
  /* Kalendarz i godziny */
  .kalendarz,
  .godziny {
    width: 100%;
  }
  
  /* Styl kalendarza */
  .kalendarz select {
    width: 100%;
    padding: 8px;
  }
  
  /* Styl godzin */
  .godziny select {
    width: 100%;
    padding: 8px;
  }

  .stolik-duzy {
    width: 72px; /* Dostosuj szerokość dużego stolika */
    height: 72px; /* Dostosuj wysokość dużego stolika */
    margin-top: -245px;
    margin-left: 370px;
    border-radius: 10%;
    @media (max-width: 960px) {
        width: 36px;
        height: 36px;
    } 
  }
  
  .stolik-okragly {
    width: 38px; /* Dostosuj szerokość małego okrągłego stolika */
    height: 38px; /* Dostosuj wysokość małego okrągłego stolika */
    border-radius: 50%; 
    @media (max-width: 960px) {
        width: 18px;
        height: 18px;
    }
  }
  
  .stolik-1{
    margin-left: 280px;
    margin-top: 50px;
    @media (max-width: 960px) {
        margin-top: 25px;
        margin-left: 120px;
    }
  }

  .stolik-2{
    margin-left: 350px;
    margin-top: 50px;
    @media (max-width: 960px) {
      margin-top: 25px;
      margin-left: 155px;
    }
  }

  .stolik-3{
    margin-left: 280px;
    margin-top: 120px;
    @media (max-width: 960px) {
      margin-top: 60px;
      margin-left: 120px;
    }
  }

  .stolik-4{
    margin-left: 350px;
    margin-top: 120px;
    @media (max-width: 960px) {
      margin-top: 60px;
      margin-left: 155px;
    }
  }
  
  .stolik-5{
    margin-left: 210px;
    margin-top: 225px;
    @media (max-width: 960px) {
      margin-top: 100px;
      margin-left: 95px;
    }
  }

  .stolik-6{
    margin-left: 210px;
    margin-top: 285px;
    @media (max-width: 960px) {
      margin-top: 128px;
      margin-left: 95px;
    }
  }

  .stolik-7{
    margin-left: 420px;
    margin-top: 45px;
    width: 70px;
    height: 45px;
    @media (max-width: 960px) {
      margin-top: 25px;
      margin-left: 185px;
      width: 40px;
      height: 20px;
    }
  }

  .stolik-8 {
    margin-left: 50px;
    margin-top: 40px;
    @media (max-width: 960px) {
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  .stolik-9 {
    margin-left: 50px;
    margin-top: 150px;
    @media (max-width: 960px) {
      margin-top: 65px;
      margin-left: 20px;
    }
  }

  .stolik-10 {
    margin-left: 50px;
    margin-top: 250px;
    @media (max-width: 960px) {
      margin-top: 110px;
      margin-left: 20px;
    }
  }

  .stolik-11{
    margin-left: 115px;
    margin-top: 150px;
    @media (max-width: 960px) {
      margin-top: 65px;
      margin-left: 50px;
    }
  }

  .stolik-12{
    margin-left: 115px;
    margin-top: 250px;
    @media (max-width: 960px) {
      margin-top: 110px;
      margin-left: 50px;
    }
  }

  .stolik-13{
    margin-left: 420px;
    margin-top: 120px;
    @media (max-width: 960px) {
      margin-top: 55px;
      margin-left: 188px;
    }
  }

  .time-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: #240000 2px solid;
    border-radius: 50%;
    margin-left: 9px;
    color: #240000;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
  }
  
  .time-button.selected {
    background-color: #240000; /* Kolor dla zaznaczonych godzin */
    color: #fff; /* Kolor tekstu dla zaznaczonych godzin */
}

/* Dodaj do swojego arkusza stylów (CSS) */

.kalendarz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px;
    @media (max-width: 960px) {
      margin: 10px;
    }
  }

.date-picker{
  height: 40px;
  border: #240000 2px solid;
  background-color: transparent;
  border-radius: 10%;
}
  